@import url('../css/font.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg1.jpg");
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.88;
    z-index: -1;
}
nav{
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    z-index: 1;
}
nav .logo{
    width: 70px;
    height: 60px;
    border-radius: 50%;
}
nav .nav-menu{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 8px;
    margin: 0 60px;
    align-items: center;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 60px;
    padding: 7px 24px;
}
.nav-menu li a:hover{
    color: #000;
    background: #fff;
    border-radius: 30px;
    padding: 7px 24px;
    cursor: pointer;
}
.header-section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-content{
    width: 66%;
    height: 550px;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.header-content h1{
    font-size: 3.8rem;
    padding: 12px;
    font-weight: bold;
}
.header-content p{
    font-size: 1.6rem;
    padding: 12px;
    font-weight: bold;
}
.header-content .btn{
    font-size: 1.4rem;
    color: #fff;
    background: brown;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 6px 24px;
    cursor: pointer;
}
.order{
    width: 100%;
    height: 820px;
    margin: 30px 0;
}
.order h1{
    font-size: 3.8rem;
    text-align: center;
    padding: 12px;
}
.order-container{
    width: 100%;
    height: fit-content;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.order .order-content{
    flex-basis: 25%;
    width: fit-content;
    height: 640px;
    border: 2px solid brown;
    background: #f2f2f2;
    padding: 34px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.order .order-content img{
    width: fit-content;
    height: 158px;
}
.order .order-content h2{
    font-size: 2.3rem;
    padding: 12px;
}
.order .order-content p{
    font-size: 18px;
}
.clients{
    width: 100%;
    height: 300px;
    position: relative;
}
.clients::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg.jpg");
    opacity: 0.3;
    z-index: -1;
}
.clients h1{
    font-size: 3.8rem;
    text-align: center;
    padding: 12px;
}
.clients .client-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 40px;
}
.clients .client-container img{
    width: 120px;
    height: 120px;
}
.contact{
    width: 100%;
    height: fit-content;
    position: relative;
}
.contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/contact.jpg");
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}
.contact h1{
    font-size: 3.8rem;
    text-align: center;
    padding: 12px;
}
.contact .contact-form{
    padding-bottom: 34px;
}
.contact-form form{
    width: 560px;
    margin: auto;
    flex-direction: column;
}
.contact-form form label{
    font-size: 1.3rem;
    font-weight: 600;
}
.contact-form form .input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    border: 2px solid (rgb(118, 118, 118), rgb(133, 133, 133));
}
.contact-form form input::placeholder{
    font-size: 1.1rem;
}
.footer{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 9px 20px;
}
.footer h5{
    font-size: 16px;
    font-weight: 500;
}